:root {
    --main-background: rgb(225, 228, 234);
}


* {
    box-sizing: border-box;
    margin: 0px;
    /*border: 1px solid red;*/
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    color: #000814;
    font-weight: light;
    background-color: var(--main-background);
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

a:hover {
    text-decoration: underline;
}


/**************************************************
RE-USABLE CARDS
*************************************************/

.card-type-1 {
    background-color: white;
    max-width: 50rem;
    min-width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px;
    margin: 1rem auto;
}

.card-type-1 form {
    width: 100%;
    padding: 0.7em;
}

.card-type-1 textarea {
    background-color: var(--main-background);
    border-radius: 1.5em;
    border: 0px;
    height: 2em;
    width: 100%;
    padding: 1.5em;
    height: 6rem;
}

.card-type-1 input {
    background-color: #1D7BE0;
    border-radius: 1.5em;
    border: 0px;
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.5s;
}

.card-type-1 input:hover {
    background-color: #1863b2;
    cursor: pointer;
}


.profil-card {
    padding: 0.5rem;
}



/***************************************************************************************************************************************
HEADER
***********************************************************************************************************************************/

header {
    position: sticky;
    top: 0px;
    background-color: #007BE0;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: white;
}


/***************************************************************************************************************************************
DASHBOARD
***********************************************************************************************************************************/

.dashboard-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.dashboard-container>div {
    margin: 10px;
}

.vertical-border {
    height: 90vh;
    border-left: 1px solid grey;
}

.col-left {
    position: sticky;
    top: 0rem;
}


/**********************************POST********************************/

.post {
    background-color: white;
    max-width: 50rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px;
    margin: 1rem auto;
}



.post .post-head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-background);
    line-height: 1.5em;
    padding: 0.7em;
}

.post .post-head a {
    display: flex;
    align-items: center;
}

.post .post-head img {
    height: 3em;
    border-radius: 50%;
    margin-right: 0.7em;
}

.post .post-content {
    margin: 0.7em;
}

.post .post-comments {
    border-top: 1px solid var(--main-background);
}

.post .comment-container {
    display: flex;
    margin: 0.7rem;
}



.post .comment-container img {
    height: 2em;
    border-radius: 50%;
}

.post .comment-container .comment-sub-container {
    margin-left: 0.5rem;
}

.post .post-comments .comment {
    background-color: var(--main-background);
    border-radius: 1em;
    padding: 0.5rem;
    line-height: 1.5;
}

.post .post-comments time {
    font-size: 0.8em;
    line-height: 0;
    opacity: 0.5;
}

.post .post-comments .comment .comment-head {
    display: flex;
    font-size: 0.8em;
}


.post form {
    width: 100%;
    padding: 0.7em;
}

.post input {
    background-color: var(--main-background);
    border-radius: 1.5em;
    border: 0px;
    height: 2em;
    width: 100%;
    padding: 1.5em;

}
