:root {
    --main-background: rgb(225, 228, 234);
}


* {
    box-sizing: border-box;
    margin: 0px;
    /*border: 1px solid red;*/
}

html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    color: #000814;
    font-weight: light;
    background-color: var(--main-background);
    margin: 0px;
    position: relative;
    font-family: sans-serif;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: black;
    transition: text-decoration 0.5s;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

a:hover {
    text-decoration: underline;
}

textarea {
    font-family: sans-serif;
    font-size: 1rem;
}

/**************************************************
RE-USABLE CARDS
*************************************************/

.card-type-1 {
    background-color: white;
    max-width: 40rem;
    min-width: 20rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px;
    margin: 1rem auto;
}

.card-type-1 form {
    width: 100%;
    padding: 0.7em;
}

.card-type-1 textarea {
    background-color: var(--main-background);
    border-radius: 1.5em;
    border: 0px;
    height: 2em;
    width: 100%;
    padding: 1.5em;
    height: 6rem;
}

.card-type-1 .media-inputs {
    display: flex;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    height: 2.5rem;
    left: 0rem;
    top: 0rem;
    cursor: pointer;
}

.card-type-1 .media-inputs button {
    margin-bottom: 0.5em;
    background-color: #588ec4;
    position: relative;
    cursor: pointer;
}


.card-type-1 .media-inputs button+button {
    margin-left: 0.5em;
}

.card-type-1 input,
.card-type-1 button {
    background-color: #1D7BE0;
    border-radius: 1.5em;
    border: 0px;
    width: 100%;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.5s;
}

.card-type-1 input:hover,
.card-type-1 button:hover {
    background-color: #1863b2;
    cursor: pointer;
}




/***************************************************************************************************************************************
HEADER
***********************************************************************************************************************************/

header {
    position: sticky;
    top: 0px;
    background-color: #007BE0;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: white;
}


/***************************************************************************************************************************************
DASHBOARD
***********************************************************************************************************************************/

.dashboard-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.dashboard-container>div {
    margin: 10px;
}

.vertical-border {
    height: 90vh;
    border-left: 1px solid grey;
}

.col-left {
    position: sticky;
    top: 0rem;
}


/**********************************POST********************************/

.post {
    background-color: white;
    max-width: 50rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px;
    margin: 1rem auto;
}



.post .post-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-background);
    line-height: 1.5em;
    padding: 0.7em;
}

.post .post-head-left {
    display: flex;
    align-items: center;
}

.post .post-head-right {
    display: flex;
}

.post .post-head-right form,
.post .post-head-right button,
.comment-container form,
.comment-container button {
    margin: 0px;
    padding: 0px;
    background-color: inherit;
    border: 0px;
}

.post .post-head a {
    height: 1rem;
    display: flex;
    align-items: center;
}

.post .post-head img {
    height: 3em;
    border-radius: 50%;
    margin-right: 0.7em;
}

.post svg {
    color: black;
    height: 1rem;
    transition: 1s;
    cursor: pointer;
}

.post .post-head svg {
    margin-left: 1rem;
    height: 1.2rem;
}

.post svg:hover {
    height: 1.4rem;
}

.post form svg:hover {
    color: red;
}

.post .post-text {
    margin: 0.7em;
}

/***************MEDIA***************/

.post .post-media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post .post-media img {
    object-fit: cover;
    width: 100%;
    height: 10rem;
    transition: height 0.5s;
}

/*.post .post-media img:hover {
    */

/*    height: 40rem;*/

/*}*/

.post .post-media audio {
    margin-bottom: 0.7rem;
    opacity: 0.7;
    transition: opacity 0.5s;
}

.post .post-media audio:hover {
    opacity: 0.8;
}

.post .post-media .with-image {
    margin-bottom: 0rem;
    position: absolute;
    margin: auto;
    width: 80%;
}

/***************COMMENT***************/

.post .post-comments {
    border-top: 1px solid var(--main-background);
    max-height: 25rem;
    overflow: scroll;
}

.post .post-comments::-webkit-scrollbar {
    display: none;
}

.post .comment-container {
    display: flex;
    margin: 0.7rem;
    /*width: 100%;
    */
}

.post .comment-container img {
    height: 2em;
    border-radius: 50%;
}

.post .comment-container .comment-sub-container {
    margin-left: 0.5rem;
    /*width: 100%;*/
}

.post .post-comments .comment {
    background-color: var(--main-background);
    border-radius: 1em;
    padding: 0.5rem;
    line-height: 1.5;
}

.post .post-comments time {
    font-size: 0.8em;
    line-height: 0;
    opacity: 0.5;
}

.post .post-comments .comment .comment-head {
    display: flex;
    font-size: 0.8em;
}

.post .comment-container form {
    width: 2rem;
}

.post .comment-container svg {
    color: black;
    height: 0.8rem;
    transition: 1s;
    cursor: pointer;
}

.post .comment-container svg:hover {
    color: red;
    height: 1rem;
}


.post form {
    width: 100%;
    padding: 0.7em;
}

.post input {
    background-color: var(--main-background);
    border-radius: 1.5em;
    border: 0px;
    height: 2em;
    width: 100%;
    padding: 1.5em;

}




/***************************************************************************************************************************************
PROFILE
***********************************************************************************************************************************/

.profile-card {
    background-color: white;
    max-width: 50rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 2px;
    margin: 1rem auto;
    overflow: hidden;
    position: relative;

}

.profile-card .modify svg {
    height: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.profile-card .modify svg:hover {
    opacity: 1;
}

/******IMAGE*****/

.profile-card .banner-pic img {
    object-fit: cover;
    width: 100%;
    height: 20em;
}

.profile-card .profile-pic {
    position: absolute;

    top: 15em;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: white;
    padding: 0.5em;
}

.profile-card .profile-pic img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/**********MAIN***********/

.profile-card .main {
    display: flex;
    justify-content: space-between;
    height: 4em;
}

.profile-card .main .side {
    text-align: center;
    width: 40%;
    padding: 0 1rem;
}

.profile-card .main .center {
    width: 10em;
}

/***********FOOTER***********/

.profile-card .footer {
    padding: 1rem;
    text-align: center;
}
